# Dependency directories
node_modules/

# Debug log from npm
npm-debug.log*

# Environment variables
.env

# Build output
dist/
out/

# Source maps
*.map

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Test Data
test_samples/
